Repository Dynatrace/dynatrace-configuration-as-code, pull requests merged in 2023-02, with the labels that each got.

#805 docs: Add details about environment variables for API tokens
  documentation/docs/configuration/environments_file.md
  documentation/versioned_docs/version-1.8.x/configuration/environments_file.md
Labels: documentation

#815 refactor: Remove legacy deploy
  cmd/monaco/runner/runner.go
  cmd/monaco/v1/deploy/deploy.go
  pkg/client/config_client.go
  pkg/client/config_client_test.go
  pkg/environment/environment_loader.go
  pkg/project/test-resources/hidden-directories/.logs/some-log-file.log
  pkg/project/test-resources/hidden-directories/project1/.logs/some-log-file.log
  pkg/project/test-resources/hidden-directories/project1/management-zone/management-zone.yaml
  pkg/project/test-resources/hidden-directories/project1/management-zone/tag-based-mz.json
  pkg/project/test-resources/hidden-directories/project2/.logs/management-zone/management-zone.yaml
  pkg/project/test-resources/hidden-directories/project2/.logs/management-zone/tag-based-mz.json
  pkg/project/test-resources/hidden-directories/project2/.logs/some-log-file.log
  pkg/project/test-resources/hidden-directories/project2/subproject/management-zone/management-zone.yaml
  pkg/project/test-resources/hidden-directories/project2/subproject/management-zone/tag-based-mz.json
  pkg/project/v1/project.go
  pkg/project/v1/project_loader.go
  pkg/project/v1/project_loader_test.go
  pkg/project/v1/test-resources/circular-config-dependency-test/project/auto-tag/application-tagging.json
  pkg/project/v1/test-resources/circular-config-dependency-test/project/auto-tag/tagging.yaml
  pkg/project/v1/test-resources/circular-config-dependency-test/project/management-zone/zone.json
  pkg/project/v1/test-resources/circular-config-dependency-test/project/management-zone/zone.yaml
  pkg/project/v1/test-resources/circular-project-dependency-test/projectA/auto-tag/application-tagging.json
  pkg/project/v1/test-resources/circular-project-dependency-test/projectA/auto-tag/tagging.yaml
  pkg/project/v1/test-resources/circular-project-dependency-test/projectB/management-zone/zone.json
  pkg/project/v1/test-resources/circular-project-dependency-test/projectB/management-zone/zone.yaml
  pkg/project/v1/test-resources/transitional-dependency-test/README.md
  pkg/project/v1/test-resources/transitional-dependency-test/aseed/auto-tag/application-tagging.json
  pkg/project/v1/test-resources/transitional-dependency-test/aseed/auto-tag/tagging.yaml
  pkg/project/v1/test-resources/transitional-dependency-test/aseed/management-zone/zone.json
  pkg/project/v1/test-resources/transitional-dependency-test/aseed/management-zone/zone.yaml
  pkg/project/v1/test-resources/transitional-dependency-test/caveman/anjie/garkbit/dashboard/dashboard.yaml
  pkg/project/v1/test-resources/transitional-dependency-test/caveman/anjie/garkbit/dashboard/overview-dashboard.json
  pkg/project/v1/test-resources/transitional-dependency-test/caveman/anjie/garkbit/management-zone/zone.json
  pkg/project/v1/test-resources/transitional-dependency-test/caveman/anjie/garkbit/management-zone/zone.yaml
  pkg/project/v1/test-resources/transitional-dependency-test/caveman/eddie/synthetic-monitor/health-check-monitor.json
  pkg/project/v1/test-resources/transitional-dependency-test/caveman/eddie/synthetic-monitor/synthetic-monitors.yaml
  pkg/project/v1/test-resources/transitional-dependency-test/marvin/management-zone/zone.json
  pkg/project/v1/test-resources/transitional-dependency-test/marvin/management-zone/zone.yaml
  pkg/project/v1/test-resources/transitional-dependency-test/trillian/dashboard/dashboard.yaml
  pkg/project/v1/test-resources/transitional-dependency-test/trillian/dashboard/overview-dashboard.json
  pkg/project/v1/test-resources/transitional-dependency-test/zaphod/alerting-profile/profile.json
  pkg/project/v1/test-resources/transitional-dependency-test/zaphod/alerting-profile/profile.yaml
  pkg/project/v1/test-resources/transitional-dependency-test/zem/alerting-profile/profile.json
  pkg/project/v1/test-resources/transitional-dependency-test/zem/alerting-profile/profile.yaml
  pkg/project/v1/topologysort.go
  pkg/project/v1/topologysort_test.go
Labels: run-e2e-test

#818 feat: Implement Version Check for Settings 2.0 Upload on older DT servers
  cmd/monaco/deploy/deploy.go
  cmd/monaco/download/download_command.go
  cmd/monaco/download/download_configs.go
  pkg/client/client.go
  pkg/client/client_test.go
  pkg/client/dummy_client.go
  pkg/client/settings_client_test.go
  pkg/client/version_check.go
  pkg/client/version_check_test.go
  pkg/util/version_utils.go
  pkg/util/version_utils_test.go
Labels: run-e2e-test

#830 ci(e2e): Only run release binary build on main or e2e label
  .github/workflows/end-to-end-test.yml
Labels: ci

#834 Fix: Enhance settings upsert logic to work with current enhancements of the settings API
  cmd/monaco/integrationtest/v1/integration_test_utils.go
  cmd/monaco/integrationtest/v2/cleanup_all_configs_test.go
  cmd/monaco/integrationtest/v2/integration_test_utils.go
  cmd/monaco/integrationtest/v2/non_unique_names_e2e_test.go
  pkg/client/client.go
  pkg/client/client_test.go
  pkg/client/dummy_client.go
  pkg/client/limiting_client.go
  pkg/client/limiting_client_test.go
  pkg/client/settings_client.go
  pkg/client/settings_client_test.go
  pkg/delete/delete.go
  pkg/delete/delete_test.go
  pkg/deploy/deploy.go
  pkg/deploy/deploy_test.go
  pkg/download/classic/downloader.go
  pkg/download/classic/downloader_test.go
  pkg/download/settings/filter.go
  pkg/download/settings/filter_test.go
Labels: run-e2e-test
