Repository Dynatrace/dynatrace-configuration-as-code, pull requests merged in 2024-04, with the labels that each got.

#1438 Feat: Skip updates to SCIM and ALL_USERS account groups
  internal/featureflags/temporary.go
  pkg/account/deployer/client.go
  pkg/account/deployer/client_test.go
Labels: run-e2e-test

#1439 Feat: Add support for federated attribute values in account groups
  cmd/monaco/integrationtest/account/all_resources_integration_test.go
  cmd/monaco/integrationtest/account/resources/all-resources/accounts/groups.yaml
  pkg/account/deployer/deployer.go
  pkg/account/downloader/downloader_test.go
  pkg/account/downloader/groups.go
  pkg/account/resources.go
  pkg/persistence/account/internal/types/types.go
  pkg/persistence/account/loader/load.go
  pkg/persistence/account/writer/writer.go
Labels: run-e2e-test

#1442 feat: enabled FF key user actions for web apps
  internal/featureflags/temporary.go
Labels: run-e2e-test

#1445 Fix: Configure logs early and APIs later
  cmd/monaco/main.go
  internal/log/log.go
  pkg/api/api_test.go
  pkg/api/apis.go
  pkg/api/endpoints.go
  pkg/api/endpointsV1.go
  pkg/api/export_test.go
  pkg/deploy/internal/classic/validation.go
  pkg/deploy/internal/classic/validation_test.go
  pkg/deploy/internal/validate/validate.go
Labels: run-e2e-test, release-notes

#1448 feat: Log Monaco version at the beginning of every command
  cmd/monaco/integrationtest/v2/version_logged_e2e_test.go
  cmd/monaco/runner/runner.go
  pkg/version/version.go
Labels: run-e2e-test

#1454 chore: Adapt to changes in error handling in the buckets client
  go.mod
  go.sum
  pkg/delete/internal/bucket/delete.go
  pkg/deploy/internal/bucket/bucket.go
  pkg/deploy/internal/bucket/bucket_test.go
  pkg/download/bucket/download.go
Labels: run-e2e-test

#1460 feat: Download dashboard and notebook documents
  .gitignore
  cmd/monaco/download/download_command.go
  cmd/monaco/download/download_configs.go
  cmd/monaco/download/download_configs_test.go
  cmd/monaco/download/downloadopts.go
  cmd/monaco/integrationtest/v2/references_test.go
  go.mod
  go.sum
  pkg/client/clientset.go
  pkg/download/document/download.go
  pkg/download/document/download_test.go
  pkg/download/document/testdata/getDashboardDocument.json
  pkg/download/document/testdata/getNotebookDocument.json
  pkg/download/document/testdata/listDashboardDocuments.json
  pkg/download/document/testdata/listNoNotebookDocuments.json
  pkg/download/document/testdata/listNotebookDocuments.json
Labels: run-e2e-test, release-notes

#1464 feat: introduce `FEAT_LOG_FILE` environment variable to deactivate log files
  cmd/monaco/main.go
  cmd/monaco/runner/runner.go
  internal/featureflags/permanent.go
  internal/log/log.go
Labels: release-notes
