Repository Dynatrace/dynatrace-configuration-as-code, pull requests merged in 2024-11, with the labels that each got.

#1614 fix(dependency_resolution): Dashboard-Share-Settings can no longer be referenced from dashboards.
  pkg/download/dependency_resolution/dependency_resolution.go
  pkg/download/dependency_resolution/dependency_resolution_test.go
  pkg/download/dependency_resolution/resolver/ahocorasick_dep_resolver.go
  pkg/download/dependency_resolution/resolver/basic_dep_resolver.go
  pkg/download/dependency_resolution/resolver/shared.go
Labels: run-e2e-test, release-notes

#1620 fix: Remove `actor` field in delete E2E test workflow
  cmd/monaco/integrationtest/v2/test-resources/delete-test-configs/project/workflow.json
Labels: run-e2e-test

#1622 Consider Skip parameter during preload caching
  pkg/deploy/preload.go
  pkg/deploy/preload_test.go
Labels: run-e2e-test, release-notes

#1616 fix: Ensure environment is not accessed during a dry run
  cmd/monaco/delete/delete.go
  cmd/monaco/deploy/deploy.go
  cmd/monaco/download/download_configs.go
  cmd/monaco/download/download_configs_test.go
  cmd/monaco/download/download_integration_test.go
  cmd/monaco/dynatrace/dynatrace.go
  cmd/monaco/integrationtest/integration_test_utils.go
  cmd/monaco/integrationtest/v2/diff_project_diff_ext_id_test.go
  cmd/monaco/integrationtest/v2/dry-run_test.go
  cmd/monaco/purge/purge.go
  pkg/client/clientset.go
  pkg/client/clientset_test.go
  pkg/client/dummy_clientset.go
  pkg/delete/delete.go
  pkg/delete/delete_test.go
  pkg/deploy/deploy.go
  pkg/deploy/deploy_test.go
  pkg/deploy/internal/automation/automation.go
  pkg/deploy/internal/automation/automation_test.go
  pkg/deploy/internal/bucket/bucket.go
  pkg/deploy/internal/document/document.go
  pkg/deploy/internal/document/document_test.go
  pkg/deploy/internal/openpipeline/openpipeline.go
  pkg/deploy/internal/setting/setting_test.go
  pkg/deploy/preload.go
  pkg/deploy/preload_test.go
  pkg/download/classic/download_test.go
  pkg/download/settings/download_test.go
Labels: run-e2e-test

#1623 chore: Split DTClient into Classic and Settings client
  cmd/monaco/download/download_configs.go
  cmd/monaco/download/download_configs_test.go
  cmd/monaco/download/download_integration_test.go
  cmd/monaco/integrationtest/assert.go
  cmd/monaco/integrationtest/integration_test_utils.go
  cmd/monaco/integrationtest/v1/integration_test_utils.go
  cmd/monaco/integrationtest/v2/delete_integration_test.go
  cmd/monaco/integrationtest/v2/diff_project_diff_ext_id_test.go
  cmd/monaco/integrationtest/v2/non_unique_names_e2e_test.go
  cmd/monaco/integrationtest/v2/scoped_configs_test.go
  cmd/monaco/integrationtest/v2/settings_integration_test.go
  internal/concurrency/limiter.go
  internal/concurrency/limiter_test.go
  pkg/client/clientset.go
  pkg/client/dtclient/client.go
  pkg/client/dtclient/client_test.go
  pkg/client/dtclient/config_client.go
  pkg/client/dtclient/config_client_test.go
  pkg/client/dtclient/dummy_config_client.go
  pkg/client/dtclient/dummy_settings_client.go
  pkg/client/dtclient/extension_upload.go
  pkg/client/dtclient/extension_upload_test.go
  pkg/client/dtclient/settings_client.go
  pkg/client/dtclient/settings_client_test.go
  pkg/client/dtclient/test_utils.go
  pkg/client/dummy_clientset.go
  pkg/delete/delete.go
  pkg/delete/delete_test.go
  pkg/delete/internal/classic/delete.go
  pkg/delete/internal/setting/delete.go
  pkg/deploy/deploy.go
  pkg/deploy/deploy_test.go
  pkg/deploy/internal/classic/classic.go
  pkg/deploy/internal/classic/classic_test.go
  pkg/deploy/internal/setting/setting.go
  pkg/deploy/internal/setting/setting_test.go
  pkg/deploy/preload.go
  pkg/deploy/preload_test.go
  pkg/download/classic/download.go
  pkg/download/classic/download_test.go
  pkg/download/settings/download.go
  pkg/download/settings/download_test.go
Labels: run-e2e-test, run-iam-test

#1626 fix: Add e2e test that is deleting classic api resource with OAuth
  cmd/monaco/integrationtest/v2/delete_integration_test.go
  cmd/monaco/integrationtest/v2/test-resources/delete-test-configs/oauth-delete.yaml
  cmd/monaco/integrationtest/v2/test-resources/delete-test-configs/oauth-only-manifest.yaml
  cmd/monaco/integrationtest/v2/test-resources/delete-test-configs/token-delete.yaml
  cmd/monaco/integrationtest/v2/test-resources/delete-test-configs/token-only-manifest.yaml
Labels: run-e2e-test

#1629 fix(OpenPipeline): Remove `version` and `updateToken` on download
  pkg/download/openpipeline/download.go
  pkg/download/openpipeline/download_test.go
  pkg/download/openpipeline/testdata/getEvents.json
  pkg/download/openpipeline/testdata/getLogs.json
Labels: run-e2e-test

#1636 Allow Settings API with OAuth credentials
  cmd/monaco/deploy/deploy.go
  cmd/monaco/deploy/deploy_test.go
  cmd/monaco/download/download_configs.go
  cmd/monaco/download/download_configs_test.go
Labels: run-e2e-test, release-notes
