Repository Dynatrace/dynatrace-configuration-as-code, pull requests merged in 2024-10, with the labels that each got.

#1587 fix: copy delete file entries after passing them to the Delete function
  pkg/delete/delete.go
Labels: run-e2e-test

#1583 Enhance HTTP traffic logging
  cmd/monaco/dynatrace/dynatrace.go
  cmd/monaco/integrationtest/v2/supportarchive_e2e_test.go
  cmd/monaco/runner/runner.go
  internal/trafficlogs/logger.go
  internal/trafficlogs/logger_test.go
  pkg/client/clientset.go
Labels: run-e2e-test

#1597 fix: Correctly compare extension versions
  internal/version/version_utils.go
  internal/version/version_utils_test.go
  pkg/client/dtclient/extension_upload.go
  pkg/client/dtclient/extension_upload_test.go
  pkg/manifest/loader/manifest_loader_test.go
Labels: run-e2e-test

#1605 Fix/enable rate limiter for account clients
  .github/workflows/build-test.yml
  .github/workflows/dependencies-and-licenses.yml
  .github/workflows/end-to-end-test.yml
  .github/workflows/pr-static-code-analysis.yml
  cmd/monaco/dynatrace/dynatrace.go
  go.mod
  go.sum
  pkg/account/downloader/downloader.go
  pkg/account/downloader/downloader_test.go
Labels: run-iam-test

#1608 set default value for MONACO_FEAT_PERSIST_SETTINGS_ORDER to true
  internal/featureflags/temporary.go
Labels: run-e2e-test, release-notes

#1612 feat: Deployment report
  cmd/monaco/deploy/deploy.go
  cmd/monaco/integrationtest/v2/all_configs_integration_test.go
  cmd/monaco/integrationtest/v2/supportarchive_report_test.go
  internal/environment/get_env_value.go
  internal/testutils/afero_test_utils.go
  pkg/deploy/deploy.go
  pkg/deploy/deploy_test.go
  pkg/deploy/preload.go
  pkg/deploy/preload_test.go
  pkg/report/detailer.go
  pkg/report/detailer_test.go
  pkg/report/exports_test.go
  pkg/report/record.go
  pkg/report/reporter.go
  pkg/report/reporter_test.go
Labels: run-e2e-test, release-notes

#1586 feat: Allow empty token for only oauth client apis
  CONTRIBUTING.md
  cmd/monaco/delete/delete.go
  cmd/monaco/deploy/deploy.go
  cmd/monaco/deploy/deploy_test.go
  cmd/monaco/download/download_configs.go
  cmd/monaco/download/download_configs_test.go
  cmd/monaco/download/download_integration_test.go
  cmd/monaco/dynatrace/dynatrace.go
  cmd/monaco/dynatrace/dynatrace_test.go
  cmd/monaco/integrationtest/integration_test_utils.go
  cmd/monaco/integrationtest/v2/diff_project_diff_ext_id_test.go
  cmd/monaco/purge/purge.go
  pkg/client/clientset.go
  pkg/client/clientset_test.go
  pkg/converter/converter.go
  pkg/converter/converter_test.go
  pkg/delete/delete.go
  pkg/download/download_writer_test.go
  pkg/manifest/internal/persistence/manifest_persitence.go
  pkg/manifest/loader/account.go
  pkg/manifest/loader/manifest_loader.go
  pkg/manifest/loader/manifest_loader_test.go
  pkg/manifest/manifest.go
  pkg/manifest/manifest_test.go
  pkg/manifest/writer/manifest_writer.go
  pkg/manifest/writer/manifest_writer_test.go
  pkg/persistence/config/loader/config_loader_test.go
  pkg/project/v2/project_loader_test.go
Labels: run-e2e-test, release-notes
