Repository Dynatrace/dynatrace-configuration-as-code, pull requests merged in 2025-03, with the labels that each got.

#1735 test(slo-v2): add e2e tests
  cmd/monaco/integrationtest/v2/all_configs_integration_test.go
  cmd/monaco/integrationtest/v2/config_restore_e2e_test.go
  cmd/monaco/integrationtest/v2/dry-run_test.go
  cmd/monaco/integrationtest/v2/slo-v2_integration_test.go
  cmd/monaco/integrationtest/v2/test-resources/integration-all-configs/project/slo-v2/config.yaml
  cmd/monaco/integrationtest/v2/test-resources/integration-all-configs/project/slo-v2/custom-made.json
  cmd/monaco/integrationtest/v2/test-resources/integration-all-configs/project/slo-v2/template-based.json
  cmd/monaco/integrationtest/v2/test-resources/integration-download-configs-platform/project/slo-v2/config.yaml
  cmd/monaco/integrationtest/v2/test-resources/integration-download-configs-platform/project/slo-v2/custom-sli.json
  cmd/monaco/integrationtest/v2/test-resources/integration-download-configs-platform/project/slo-v2/sli-reference.json
  cmd/monaco/integrationtest/v2/test-resources/slo-v2/manifest.yaml
  cmd/monaco/integrationtest/v2/test-resources/slo-v2/project/config.yaml
  cmd/monaco/integrationtest/v2/test-resources/slo-v2/project/custom-sli.json
  cmd/monaco/integrationtest/v2/test-resources/slo-v2/project/sli-reference.json
Labels: run-e2e-test

#1760 fix: File parameter must provide references
  pkg/config/parameter/file/file.go
  pkg/config/parameter/file/file_test.go
Labels: run-e2e-test

#1764 fix: Add logging and timeout to context for `GetDynatraceClassicURL()`
  pkg/client/metadata/metadata.go
Labels: run-e2e-test

#1756 fix: Allow relative paths in file parameters
  cmd/monaco/integrationtest/v2/test-resources/integration-automation/project/common/script.js
  cmd/monaco/integrationtest/v2/test-resources/integration-automation/project/workflow/config.yaml
  pkg/config/parameter/file/file.go
  pkg/config/parameter/file/file_test.go
  pkg/config/parameter/parameters.go
  pkg/persistence/config/loader/parameters.go
Labels: run-e2e-test

#1769 chore: Update `dynatrace/dynatrace-configuration-as-code-core` library
  go.mod
  go.sum
  pkg/account/downloader/downloader_test.go
  pkg/account/downloader/service_users.go
Labels: run-e2e-test, run-iam-test

#1766 feat(report): report cyclic loading errors
  cmd/monaco/integrationtest/v2/loading-report_test.go
  cmd/monaco/integrationtest/v2/test-resources/config-with-cycle/manifest.yaml
  cmd/monaco/integrationtest/v2/test-resources/config-with-cycle/project/reports/config.yaml
  cmd/monaco/integrationtest/v2/test-resources/config-with-cycle/project/reports/report.json
  internal/testutils/matcher/record.go
  pkg/deploy/deploy.go
Labels: run-e2e-test

#1728 feat(account): Delete service users
  cmd/monaco/account/delete.go
  pkg/account/delete/client.go
  pkg/account/delete/client_test.go
  pkg/account/delete/delete.go
  pkg/account/delete/delete_test.go
  pkg/account/delete/loader.go
  pkg/account/delete/loader_test.go
  pkg/account/delete/persistence.go
Labels: run-iam-test

#1774 test: Improve `TestDeleteSubPathAPIConfigurations`
  cmd/monaco/integrationtest/v2/delete_integration_test.go
Labels: run-e2e-test

#1775 feat: add `PermissionsDefinition` to `SettingsDefinition` to enable m…
  internal/featureflags/temporary.go
  internal/strings/strings.go
  pkg/config/types.go
  pkg/persistence/config/internal/persistence/type_definition.go
  pkg/persistence/config/loader/config_loader_test.go
  pkg/persistence/config/writer/config_writer_test.go
Labels: run-e2e-test, release-notes

#1770 feat(slo): fail when slo-v1 payload is sent to v2 and vice versa
  cmd/monaco/integrationtest/v2/slo_request_handling_test.go
  cmd/monaco/integrationtest/v2/test-resources/slo-v1-and-slo-v2/manifest.yaml
  cmd/monaco/integrationtest/v2/test-resources/slo-v1-and-slo-v2/slo-v1-to-slo-v2/config.yaml
  cmd/monaco/integrationtest/v2/test-resources/slo-v1-and-slo-v2/slo-v1-to-slo-v2/slo-setting.json
  cmd/monaco/integrationtest/v2/test-resources/slo-v1-and-slo-v2/slo-v1-to-slo-v2/slo.json
  cmd/monaco/integrationtest/v2/test-resources/slo-v1-and-slo-v2/slo-v2-to-slo-v1/config.yaml
  cmd/monaco/integrationtest/v2/test-resources/slo-v1-and-slo-v2/slo-v2-to-slo-v1/custom-sli.json
  cmd/monaco/integrationtest/v2/test-resources/slo-v1-and-slo-v2/slo-v2-to-slo-v1/sli-reference.json
  pkg/client/dtclient/config_client.go
  pkg/client/dtclient/config_client_test.go
  pkg/deploy/internal/slo/slo.go
  pkg/deploy/internal/slo/slo_test.go
Labels: run-e2e-test

#1779 chore: Update Go to 1.24.1
  .ci/releasePipeline.groovy
  go.mod
Labels: run-e2e-test

#1785 fix: `ManifestLoaderError` should put reason first
  cmd/monaco/integrationtest/v2/loading-report_test.go
  pkg/manifest/loader/manifest_loader.go
Labels: run-e2e-test

#1792 refactor(account): Move account persistence package
  cmd/monaco/account/download.go
  cmd/monaco/account/load.go
  cmd/monaco/generate/schemas/schemagenerator.go
  cmd/monaco/integrationtest/account/all_resources_integration_test.go
  cmd/monaco/integrationtest/account/deploy-download_test.go
  pkg/account/deployer/deployer_test.go
  pkg/account/persistence/integration_test.go
  pkg/account/persistence/internal/types/types.go
  pkg/account/persistence/loader/errors.go
  pkg/account/persistence/loader/load.go
  pkg/account/persistence/loader/load_test.go
  pkg/account/persistence/loader/testdata/configs-accounts-mixed.yaml
  pkg/account/persistence/loader/testdata/deletefile-accounts-mixed.yaml
  pkg/account/persistence/loader/testdata/duplicate-group.yaml
  pkg/account/persistence/loader/testdata/duplicate-policy.yaml
  pkg/account/persistence/loader/testdata/duplicate-service-user.yaml
  pkg/account/persistence/loader/testdata/duplicate-user.yaml
  pkg/account/persistence/loader/testdata/multi-with-configs/a/a.yaml
  pkg/account/persistence/loader/testdata/multi-with-configs/a/b/b.yaml
  pkg/account/persistence/loader/testdata/multi-with-configs/a/b/c/c.yaml
  pkg/account/persistence/loader/testdata/multi-with-configs/a/b/c/d/d.yaml
  pkg/account/persistence/loader/testdata/multi-with-configs/a/b/config.yaml
  pkg/account/persistence/loader/testdata/multi-with-delete-file/a/a.yaml
  pkg/account/persistence/loader/testdata/multi-with-delete-file/a/b/b.yaml
  pkg/account/persistence/loader/testdata/multi-with-delete-file/a/b/c/c.yaml
  pkg/account/persistence/loader/testdata/multi-with-delete-file/a/b/c/d/d.yaml
  pkg/account/persistence/loader/testdata/multi-with-delete-file/delete.yaml
  pkg/account/persistence/loader/testdata/multi/a/a.yaml
  pkg/account/persistence/loader/testdata/multi/a/b/b.yaml
  pkg/account/persistence/loader/testdata/multi/a/b/c/c.yaml
  pkg/account/persistence/loader/testdata/multi/a/b/c/d/d.yaml
  pkg/account/persistence/loader/testdata/no-accounts-but-configs.yaml
  pkg/account/persistence/loader/testdata/no-id-field-group-ref.yaml
  pkg/account/persistence/loader/testdata/no-ref-group.yaml
  pkg/account/persistence/loader/testdata/no-ref-policy-account.yaml
  pkg/account/persistence/loader/testdata/no-ref-policy-env.yaml
  pkg/account/persistence/loader/testdata/partial-group.yaml
  pkg/account/persistence/loader/testdata/partial-policy.yaml
  pkg/account/persistence/loader/testdata/partial-service-user.yaml
  pkg/account/persistence/loader/testdata/partial-user.yaml
  pkg/account/persistence/loader/testdata/policy-missing-env-id.yaml
  pkg/account/persistence/loader/testdata/valid-origin-object-id.yaml
  pkg/account/persistence/loader/testdata/valid-with-refs.yaml
  pkg/account/persistence/loader/testdata/valid.yaml
  pkg/account/persistence/loader/transform.go
  pkg/account/persistence/loader/validate.go
  pkg/account/persistence/schemagenerator.go
  pkg/account/persistence/writer/writer.go
  pkg/account/persistence/writer/writer_test.go
  pkg/persistence/config/loader/config_loader.go
Labels: run-e2e-test, run-iam-test

#1799 refactor: Custom error types should use value receivers
  pkg/account/delete/client.go
  pkg/account/delete/delete.go
Labels: run-iam-test

#1800 fix: Correctly handle `APIError` in `AssertBucket(...)`
  cmd/monaco/integrationtest/assert.go
Labels: run-e2e-test

#1798 fix: correctly save environment urls in downloaded manifest file
  cmd/monaco/download/download.go
  cmd/monaco/download/download_configs.go
  cmd/monaco/download/download_configs_test.go
  cmd/monaco/download/download_integration_test.go
  pkg/download/download_writer.go
  pkg/download/download_writer_test.go
Labels: run-e2e-test

#1804 chore: Deprecated apis are only logged once.
  cmd/monaco/integrationtest/v2/deprecated_configs_produce_user_warnings_e2e_test.go
  cmd/monaco/integrationtest/v2/test-resources/deprecated-configs/manifest.yaml
  cmd/monaco/integrationtest/v2/test-resources/deprecated-configs/project/auto-tag.json
  cmd/monaco/integrationtest/v2/test-resources/deprecated-configs/project/auto-tag.yaml
  pkg/deploy/internal/classic/classic.go
  pkg/deploy/internal/classic/validation.go
  pkg/deploy/internal/validate/validate.go
Labels: run-e2e-test

#1815 feat: Sanitize bucket names
  go.mod
  go.sum
  internal/featureflags/temporary.go
  internal/idutils/bucketname.go
  internal/idutils/bucketname_test.go
  pkg/client/clientset.go
  pkg/deploy/internal/bucket/bucket.go
Labels: run-e2e-test

#1814 refactor: use isNotFoundError of core lib for 404 checking
  cmd/monaco/integrationtest/assert.go
  pkg/client/dtclient/config_client.go
  pkg/client/dtclient/extension_upload.go
  pkg/client/dtclient/settings_client.go
  pkg/delete/internal/automation/delete.go
  pkg/delete/internal/bucket/delete.go
  pkg/delete/internal/classic/delete.go
  pkg/delete/internal/document/delete.go
  pkg/delete/internal/segment/delete.go
  pkg/delete/internal/slo/delete.go
  pkg/deploy/internal/document/document.go
  pkg/deploy/internal/segment/segment.go
  pkg/deploy/internal/slo/slo.go
Labels: run-e2e-test

#1812 feat(settings-acl): Add E2E
  cmd/monaco/integrationtest/assert.go
  cmd/monaco/integrationtest/v2/all_configs_integration_test.go
  cmd/monaco/integrationtest/v2/config_restore_e2e_test.go
  cmd/monaco/integrationtest/v2/dry-run_test.go
  cmd/monaco/integrationtest/v2/settings_acl_integration_test.go
  cmd/monaco/integrationtest/v2/settings_integration_test.go
  cmd/monaco/integrationtest/v2/test-resources/integration-all-configs/project/settings-acl/config-acl-empty.yaml
  cmd/monaco/integrationtest/v2/test-resources/integration-all-configs/project/settings-acl/config-acl-none.yaml
  cmd/monaco/integrationtest/v2/test-resources/integration-all-configs/project/settings-acl/config-acl-read.yaml
  cmd/monaco/integrationtest/v2/test-resources/integration-all-configs/project/settings-acl/config-acl-write.yaml
  cmd/monaco/integrationtest/v2/test-resources/integration-all-configs/project/settings-acl/settings.json
  cmd/monaco/integrationtest/v2/test-resources/integration-download-configs-platform/project/settings-acl/config-acl-empty.yaml
  cmd/monaco/integrationtest/v2/test-resources/integration-download-configs-platform/project/settings-acl/config-acl-none.yaml
  cmd/monaco/integrationtest/v2/test-resources/integration-download-configs-platform/project/settings-acl/config-acl-read.yaml
  cmd/monaco/integrationtest/v2/test-resources/integration-download-configs-platform/project/settings-acl/config-acl-write.yaml
  cmd/monaco/integrationtest/v2/test-resources/integration-download-configs-platform/project/settings-acl/settings.json
  cmd/monaco/integrationtest/v2/test-resources/settings-acl/acl-empty/manifest.yaml
  cmd/monaco/integrationtest/v2/test-resources/settings-acl/acl-empty/project/config-acl-empty.yaml
  cmd/monaco/integrationtest/v2/test-resources/settings-acl/acl-empty/project/settings.json
  cmd/monaco/integrationtest/v2/test-resources/settings-acl/acl-none/manifest.yaml
  cmd/monaco/integrationtest/v2/test-resources/settings-acl/acl-none/project/config-acl-none.yaml
  cmd/monaco/integrationtest/v2/test-resources/settings-acl/acl-none/project/settings.json
  cmd/monaco/integrationtest/v2/test-resources/settings-acl/acl-read/manifest.yaml
  cmd/monaco/integrationtest/v2/test-resources/settings-acl/acl-read/project/config-acl-read.yaml
  cmd/monaco/integrationtest/v2/test-resources/settings-acl/acl-read/project/settings.json
  cmd/monaco/integrationtest/v2/test-resources/settings-acl/acl-write/manifest.yaml
  cmd/monaco/integrationtest/v2/test-resources/settings-acl/acl-write/project/config-acl-write.yaml
  cmd/monaco/integrationtest/v2/test-resources/settings-acl/acl-write/project/settings.json
  cmd/monaco/integrationtest/v2/test-resources/settings-acl/no-acl/manifest.yaml
  cmd/monaco/integrationtest/v2/test-resources/settings-acl/no-acl/project/config-acl-empty.yaml
  cmd/monaco/integrationtest/v2/test-resources/settings-acl/no-acl/project/settings.json
Labels: run-e2e-test
