Repository Dynatrace/dynatrace-configuration-as-code, pull requests merged in 2025-02, with the labels that each got.

#1660 feat(segments): deploy support for `segments` API
  cmd/monaco/download/download_configs.go
  go.mod
  go.sum
  pkg/client/clientset.go
  pkg/client/dummy_clientset.go
  pkg/client/test_clientset.go
  pkg/delete/delete_test.go
  pkg/deploy/deploy.go
  pkg/deploy/deploy_test.go
  pkg/deploy/internal/segment/segment.go
  pkg/deploy/internal/segment/segment_test.go
Labels: run-e2e-test, release-notes

#1685 feat(segments): Add e2e tests
  cmd/monaco/integrationtest/v2/config_restore_e2e_test.go
  cmd/monaco/integrationtest/v2/integration_test_utils.go
  cmd/monaco/integrationtest/v2/segments_integration_test.go
  cmd/monaco/integrationtest/v2/test-resources/integration-download-configs-platform/project/segment/config.yaml
  cmd/monaco/integrationtest/v2/test-resources/integration-download-configs-platform/project/segment/segment.json
  cmd/monaco/integrationtest/v2/test-resources/segments/manifest.yaml
  cmd/monaco/integrationtest/v2/test-resources/segments/standalone-segment/config.yaml
  cmd/monaco/integrationtest/v2/test-resources/segments/standalone-segment/segment.json
  cmd/monaco/integrationtest/v2/test-resources/segments/two-segments/config.yaml
  cmd/monaco/integrationtest/v2/test-resources/segments/two-segments/segment.json
  go.mod
  go.sum
Labels: run-e2e-test

#1672 feat: Create references only in string values in JSON templates
  cmd/monaco/integrationtest/v2/integration_test_utils.go
  cmd/monaco/integrationtest/v2/references_test.go
  cmd/monaco/integrationtest/v2/test-resources/string-references/manifest.yaml
  cmd/monaco/integrationtest/v2/test-resources/string-references/string-references/builtinnetworkzones/config.yaml
  cmd/monaco/integrationtest/v2/test-resources/string-references/string-references/builtinnetworkzones/network-zones-enabled.json
  cmd/monaco/integrationtest/v2/test-resources/string-references/string-references/dashboards/config.yaml
  cmd/monaco/integrationtest/v2/test-resources/string-references/string-references/dashboards/dashboard.json
  cmd/monaco/integrationtest/v2/test-resources/string-references/string-references/network-zones/config.yaml
  cmd/monaco/integrationtest/v2/test-resources/string-references/string-references/network-zones/zone.json
  internal/featureflags/temporary.go
  internal/json/apply.go
  internal/json/apply_test.go
  pkg/download/dependency_resolution/resolver/shared.go
Labels: run-e2e-test

#1691 chore: Update core library
  go.mod
  go.sum
Labels: run-e2e-test

#1693 fix: Skip duplicate downloaded values
  pkg/download/classic/download.go
  pkg/download/classic/download_test.go
Labels: run-e2e-test

#1696 refactor(cmd): ensure to use top-level context in production code
  cmd/monaco/account/download.go
  cmd/monaco/account/download_command.go
  cmd/monaco/delete/command.go
  cmd/monaco/delete/delete.go
  cmd/monaco/deploy/command.go
  cmd/monaco/deploy/deploy.go
  cmd/monaco/deploy/deploy_test.go
  cmd/monaco/download/download.go
  cmd/monaco/download/download_command.go
  cmd/monaco/download/download_command_test.go
  cmd/monaco/download/download_configs.go
  cmd/monaco/dynatrace/dynatrace.go
  cmd/monaco/dynatrace/dynatrace_test.go
  cmd/monaco/integrationtest/utils/monaco/cmd.go
  cmd/monaco/main.go
  cmd/monaco/purge/command.go
  cmd/monaco/purge/purge.go
  cmd/monaco/runner/runner.go
Labels: run-e2e-test

#1690 chore: update library with the version that supports SLO
  go.mod
  go.sum
Labels: run-e2e-test

#1704 feat(SLO): deploy support for SLO API
  pkg/client/clientset.go
  pkg/client/dummy_clientset.go
  pkg/client/test_clientset.go
  pkg/deploy/deploy.go
  pkg/deploy/deploy_test.go
  pkg/deploy/internal/slo/slo.go
  pkg/deploy/internal/slo/slo_test.go
Labels: release-notes

#1701 feat(SLO): download support for SLO API
  cmd/monaco/download/download_command.go
  cmd/monaco/download/download_configs.go
  cmd/monaco/download/download_configs_test.go
  cmd/monaco/download/downloadopts.go
  pkg/download/slo/download.go
  pkg/download/slo/download_test.go
Labels: release-notes

#1676 feat: Download service users
  go.mod
  go.sum
  pkg/account/downloader/downloader.go
  pkg/account/downloader/downloader_test.go
  pkg/account/downloader/http_client.go
  pkg/account/downloader/internal/http/client.go
  pkg/account/downloader/service_users.go
Labels: run-iam-test

#1725 chore(integration): pass right context
  cmd/monaco/integrationtest/assert.go
  cmd/monaco/integrationtest/integration_test_utils.go
  cmd/monaco/integrationtest/v2/delete_integration_test.go
  cmd/monaco/integrationtest/v2/diff_project_diff_ext_id_test.go
  cmd/monaco/integrationtest/v2/documents_integration_test.go
  cmd/monaco/integrationtest/v2/non_unique_names_e2e_test.go
  cmd/monaco/integrationtest/v2/references_test.go
  cmd/monaco/integrationtest/v2/scoped_configs_test.go
  cmd/monaco/integrationtest/v2/segments_integration_test.go
  cmd/monaco/integrationtest/v2/settings_integration_test.go
  cmd/monaco/integrationtest/v2/skip_e2e_test.go
Labels: run-e2e-test

#1718 chore(account): pass right context
  cmd/monaco/account/delete.go
  cmd/monaco/account/deploy.go
  cmd/monaco/integrationtest/account/all_resources_integration_test.go
  cmd/monaco/integrationtest/account/runner.go
  pkg/account/delete/client_test.go
  pkg/account/delete/delete_test.go
  pkg/account/deployer/client_test.go
  pkg/account/deployer/deployer.go
  pkg/account/deployer/deployer_test.go
Labels: run-iam-test

#1731 chore(core): update core and pass context
  cmd/monaco/account/delete.go
  cmd/monaco/dynatrace/dynatrace.go
  cmd/monaco/integrationtest/v2/settings_integration_test.go
  go.mod
  go.sum
  pkg/client/clientset.go
Labels: run-e2e-test

#1745 test: Improve check for launchpad creation in documents integration test
  cmd/monaco/integrationtest/v2/documents_integration_test.go
  cmd/monaco/integrationtest/v2/test-resources/integration-documents/project/document-launchpad/config.yaml
Labels: run-e2e-test

#1736 test: use FeatureFlag instead of string to define wanted FF
  cmd/monaco/integrationtest/v2/automation_integration_test.go
  cmd/monaco/integrationtest/v2/dry-run_test.go
  cmd/monaco/integrationtest/v2/integration_test_utils.go
  cmd/monaco/integrationtest/v2/references_test.go
  cmd/monaco/integrationtest/v2/scope_paramter_integration_test.go
Labels: run-e2e-test

#1748 fix: Fix failing e2e test
  cmd/monaco/integrationtest/v2/supportarchive_report_test.go
Labels: run-e2e-test

#1750 test: Both name and id rewrite functions should skip lines ending with `#monaco-test:no-replace`
  cmd/monaco/integrationtest/rewrite-test-resources/given/rewrite-test-config.yaml
  cmd/monaco/integrationtest/rewrite-test-resources/want/expected-both-postfix.yaml
  cmd/monaco/integrationtest/rewrite-test-resources/want/expected-id-postfix.yaml
  cmd/monaco/integrationtest/rewrite-test-resources/want/expected-name-full.yaml
  cmd/monaco/integrationtest/rewrite-test-resources/want/expected-name-postfix.yaml
  cmd/monaco/integrationtest/rewrite_functions.go
  cmd/monaco/integrationtest/rewrite_functions_test.go
Labels: run-e2e-test

#1751 test: Improve TestOrderedSettings test
  cmd/monaco/integrationtest/v2/settings_integration_test.go
  cmd/monaco/integrationtest/v2/test-resources/settings-ordered/order1/project/builtincontainer.monitoring-rule/704aa921-9ff8-3f8e-bc6d-bedb63093ae9.json
  cmd/monaco/integrationtest/v2/test-resources/settings-ordered/order1/project/builtincontainer.monitoring-rule/c2314e1b-409c-3eaf-9efa-5dc593b14aff.json
  cmd/monaco/integrationtest/v2/test-resources/settings-ordered/order1/project/builtincontainer.monitoring-rule/config.yaml
  cmd/monaco/integrationtest/v2/test-resources/settings-ordered/order1/project/builtinprocessavailability/config.yaml
  cmd/monaco/integrationtest/v2/test-resources/settings-ordered/order1/project/builtinprocessavailability/pa_aaa.json
  cmd/monaco/integrationtest/v2/test-resources/settings-ordered/order1/project/builtinprocessavailability/pa_bbb.json
  cmd/monaco/integrationtest/v2/test-resources/settings-ordered/order2/project/builtincontainer.monitoring-rule/704aa921-9ff8-3f8e-bc6d-bedb63093ae9.json
  cmd/monaco/integrationtest/v2/test-resources/settings-ordered/order2/project/builtincontainer.monitoring-rule/c2314e1b-409c-3eaf-9efa-5dc593b14aff.json
  cmd/monaco/integrationtest/v2/test-resources/settings-ordered/order2/project/builtincontainer.monitoring-rule/config.yaml
  cmd/monaco/integrationtest/v2/test-resources/settings-ordered/order2/project/builtinprocessavailability/config.yaml
  cmd/monaco/integrationtest/v2/test-resources/settings-ordered/order2/project/builtinprocessavailability/pa_aaa.json
  cmd/monaco/integrationtest/v2/test-resources/settings-ordered/order2/project/builtinprocessavailability/pa_bbb.json
  pkg/client/dtclient/settings_client.go
Labels: run-e2e-test

#1752 fix: Support archive should only include memstat log if feature flag enabled
  cmd/monaco/integrationtest/v2/supportarchive_report_test.go
  cmd/monaco/supportarchive/supportarchive.go
Labels: run-e2e-test

#1754 test: Use defer instead of t.Cleanup to have a valid context
  cmd/monaco/integrationtest/v2/config_restore_e2e_test.go
  cmd/monaco/integrationtest/v2/delete_integration_test.go
  cmd/monaco/integrationtest/v2/integration_test_utils.go
  cmd/monaco/integrationtest/v2/non_unique_names_e2e_test.go
  cmd/monaco/integrationtest/v2/settings_integration_test.go
Labels: run-e2e-test
